* {
  margin: 0%;
  padding: 0%;
}

html {
  background-image: url(/img/shapes.svg);
  background-repeat: no-repeat;
  background-size: 8.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.2%;
  padding-right: 6.2%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#navBar {
  display: flex;
  flex-direction: column;
}

#logo {
  /*  padding: 1.75rem; */
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  font-size: x-large;
  color: #1a2236;
}

#menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  text-align: left;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4rem;
  color: #1a2236;
  padding-top: 2rem;
}

#introduction {
  color: #1a2236;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  padding-top: 1.4rem;
  width: 90%;
  margin-bottom: 2rem;
}

.submit-button {
  display: flex;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #1a2236;
  height: 4rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: x-large;
  width: 90%;
}

.submit-button:hover {
  background-color: aliceblue;
  color: #1a2236;
}

.submit-button:active {
  background-color: aliceblue;
  color: #1a2236;
  outline: solid black 2px;
}

#geometryDiv {
  width: 100vw;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  text-align: left;
  justify-content: left;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4.4rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  color: #1a2236;
  margin-top: 3.5rem;
}

#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4.4rem;
  color: #1a2236;
  margin-top: 3rem;
}

#aboutP {
  color: #1a2236;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  width: 90vw;
  margin-bottom: 1rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.boxContainer {
  background-color: #1a2236;
  width: 95vw;
}

.projectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle1 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 1 / 1 / 2 / 2;
}

.projectTitle2 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 2 / 1 / 3 / 2;
}

.projectTitle3 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 3 / 1 / 4 / 2;
}

.projectTitle4 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 4 / 1 / 5 / 2;
}

.projectTitle5 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 5 / 1 / 6 / 2;
}

.projectTitle6 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0 0 1.6rem;
  grid-area: 6 / 1 / 7 / 2;
}

.codingLangButtons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  width: 100%;
}

.lists {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.codingLangBackground {
  background-color: #91d4d4;
  padding: 0.2rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  outline: 1rem;
  margin-right: 1rem;
  font-size: 0.7rem;
  font-weight: 400;
}

.STP-button {
  display: flex;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #1a2236;
  border: solid white 2px;
  width: 70%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 1.3rem;
  background-image: url(/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 14.3rem;
  margin: 1rem 2rem 0 1.6rem;
  padding-right: 2rem;
}

.STP-button:hover {
  background-color: aliceblue;
  color: #1a2236;
}

.STP-button:active {
  background-color: aliceblue;
  color: #1a2236;
  outline: solid black 2px;
}

#blueBox {
  background-color: #1c528a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  height: 20rem;
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(/img/hastag.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 9rem;
}

#redBox {
  background-color: #e2505c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  height: 20rem;
  grid-area: 2 / 1 / 3 / 2;
  background-image: url(/img/squares.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 9rem;
}

#yellowBox {
  background-color: #febf52;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  height: 20rem;
  grid-area: 3 / 1 / 4 / 2;
  background-image: url(/img/lamp.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 9rem;
  margin-bottom: 2rem;
}

.colorBoxTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: white;
  font-weight: 1000;
}

.itemsList {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  padding-top: 1rem;
}

#myCV {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#gridCont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.picturesPreview {
  width: 100%;
}

.GetMyCV {
  display: flex;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #1a2236;
  width: 90%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: x-large;
  background-image: url(/img/download.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 15rem;
  margin: 4rem 2rem 0 1.5rem;
  padding-left: 6rem;
  padding-right: 8rem;
  margin-bottom: 2rem;
}

.GetMyCV:hover {
  background-color: aliceblue;
  color: #1a2236;
}

.GetMyCV:active {
  background-color: aliceblue;
  color: #1a2236;
  outline: solid black 2px;
}

#hashtagIcon {
  padding-left: 14.8rem;
  width: 38%;
}

#cardBoxes {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.colorboxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0.1rem;
  width: 90%;
}

#contactFormBox {
  background-image: url(/img/shapes.svg);
  background-repeat: no-repeat;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  color: #7d7c84;
  text-align: left;
  padding-left: 1.5rem;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  padding-right: 8rem;
  border-radius: 5px;
  padding-bottom: 2rem;
  outline: 1px #1a2236;
  margin: 0.4rem;
  padding-top: 0.3rem;
  background-color: rgb(255, 255, 255);
  width: 65%;
}

#bigInput {
  color: #7d7c84;
  text-align: left;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding-bottom: 6rem;
  outline: 1px #1a2236;
  margin: 0.4rem;
  padding-top: 0.9rem;
  margin-bottom: 2rem;
  padding-right: 0.5rem;
  padding-left: 2rem;
  width: 91%;
  background-color: rgb(255, 255, 255);
}

#cfp {
  text-align: left;
  color: #1a2236;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  padding-left: 2rem;
  width: 90%;
  margin-bottom: 2rem;
}

footer {
  background-color: #1a2236;
  margin-top: 4rem;
  width: 100vw;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: left;
  color: #92dcdc;
  display: inline-block;
  padding-left: 2rem;
  padding-top: 2rem;
}

#footerContent {
  display: block;
}

#socialMediaList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

#getStarted {
  font-size: 4.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/* ↓↓↓ ELEMENTS NOT SHOWN IN MOBILE VERSION ↓↓↓ */

.desktopNavLinks {
  display: none;
}

#bigGeometryDiv {
  display: none;
}

#dottedBackground {
  display: none;
}

#gridMainDesktop {
  display: none;
}

.aboutGridDisplay {
  display: none;
}

#aboutSqaredGrid {
  display: none;
}

#desktopParagraph {
  display: none;
}

#GMCVB {
  display: none;
}

#downloadIcon {
  display: none;
}

#downloadLightblue {
  display: none;
}

.formLabels {
  display: none;
}

#despMenuBar {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileMenuLinks {
  margin: 2rem;
}

#popMenuCont {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/menudesp/back2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
  z-index: 100;
}

.popNavLinks {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  color: #1a2236;
  padding: 1.5rem;
}

#despMenuNavBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}

#cross {
  position: fixed;
  right: 0;
  top: 0;
  height: 2rem;
  padding: 5rem;
}

#despMenuBackgroundBottom {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -90;
}

/* ↑↑↑ ELEMENTS NOT SHOWN IN MOBILE VERSION ↑↑↑ */

@media screen and (min-width: 768px) {
  #navbar {
    width: 100vw;
    outline: 1px solid rgb(226, 225, 225);
    display: block;
    flex-direction: row;
    align-items: center;
  }

  #popMenuCont {
    display: none;
  }

  #menubar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  html {
    background-image: none;
  }

  #logo {
    display: none;
  }

  #menu {
    display: none;
  }

  .desktopNavLinks {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #1a2236;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  #cardBoxes {
    display: none;
  }

  #geometry {
    display: none;
  }

  #bigGeometryDiv {
    display: inline-flex;
  }

  #bigGeometry {
    display: flex;
    width: 40vw;
  }

  #name {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  #gridMainDesktop {
    display: block;
    align-items: center;
    width: 100vw;
  }

  #about-section {
    display: none;
  }

  #gridDeskCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 0.8fr 1.3fr 0.5fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 6rem;
    list-style: none;
  }

  .projectsDiv {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(./img/sqareDots.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 95%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  #verticalProjects {
    transform: rotate(-90deg);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 8rem;
    color: #1a2236;
  }

  .project1Div {
    grid-area: 1 / 2 / 2 / 4;
    background-image: url(./img/project1.png);
    background-repeat: no-repeat;
    inline-size: 100%;
  }

  .project2Div {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(./img/HQproject2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 3.5rem;
  }

  .shapesPack {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(./img/shapesPack.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .project6and5 {
    grid-area: 2 / 3 / 4 / 4;
  }

  #p6And5Flex {
    list-style: none;
  }

  .blueRedShapes {
    grid-area: 4 / 1 / 5 / 2;
  }

  .project4Div {
    grid-area: 4 / 2 / 5 / 4;
    background-image: url(./img/HQproject4-2.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 38.3%;
    overflow: visible;
  }

  .project3Div {
    grid-area: 3 / 1 / 4 / 3;
    background-image: url(./img/HQproject3.svg);
    background-repeat: no-repeat;
    background-size: 83%;
  }

  .aboutGridDisplay {
    display: grid;
    grid-template-columns: 0.4fr repeat(2, 1fr) 0.2fr repeat(2, 1fr) 0.4fr;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 7rem;
    width: 100vw;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 8;
  }

  .div2 {
    grid-area: 4 / 1 / 5 / 8;
  }

  .div3 {
    grid-area: 2 / 1 / 4 / 2;
  }

  .div4 {
    grid-area: 2 / 4 / 4 / 5;
  }

  .div5 {
    grid-area: 2 / 7 / 4 / 8;
  }

  .div6 {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0;
    margin: 0;
  }

  .div7 {
    grid-area: 2 / 3 / 3 / 4;
    padding: 0;
    margin: 0;
  }

  .div8 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .div9 {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url(./img/squarePlusLightblue.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom right;
  }

  .div10 {
    grid-area: 2 / 5 / 3 / 7;
    display: flex;
    flex-direction: column;
  }

  .div11 {
    grid-area: 3 / 5 / 4 / 7;
  }

  #squares2 {
    right: 0;
  }

  #blueBox {
    background-color: #1c528a;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(/img/hastag.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 5rem;
    padding-top: 1rem;
    height: 20rem;
  }

  #redBox {
    background-color: #e2505c;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(/img/squares.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 5rem;
    padding-top: 1rem;
    height: 20rem;
  }

  #yellowBox {
    background-color: #febf52;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
    background-image: url(/img/lamp.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    height: 18em;
  }

  .itemsList {
    font-size: 1rem;
  }

  #mainCont {
    background-image: url(/img/sqareDots.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 90px;
    padding-right: 2rem;
  }

  #introduction {
    width: 26vw;
    font-size: 1rem;
  }

  #firstSubmitButton {
    width: 15vw;
    margin-right: 11vw;
    margin-top: 1rem;
    font-size: 1.1vw;
  }

  #flexDesktopMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }

  #aboutTPB {
    width: 30vw;
  }

  #aboutTitle {
    font-size: 6rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 0;
  }

  #aboutP {
    width: 26vw;
    min-width: 10rem;
    font-size: 1vw;
    padding: 0;
    margin: 0;
  }

  .GetMyCV {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #1a2236;
    width: 40%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .GetMyCV:hover {
    background-color: aliceblue;
    color: #1a2236;
  }

  .GetMyCV:active {
    background-color: aliceblue;
    color: #1a2236;
    outline: solid black 2px;
  }

  .colorboxes {
    display: none;
  }

  #contactFormBox {
    width: 100vw;
    background-image: url(./img/contactFormDeskBackgr.png);
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  #getStarted {
    font-weight: 600;
    font-size: 6rem;
    margin-top: 5rem;
  }

  #formTextCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #cfp {
    display: none;
  }

  #desktopParagraph {
    display: flex;
    color: #1a2236;
    text-align: left;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 30vw;
    padding-left: 3rem;
    margin-bottom: 5rem;
  }

  #contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formInput {
    width: 35%;
  }

  #inlineInput {
    display: flex;
    flex-direction: row;
  }

  #yourName {
    border: 1px solid rgba(103, 103, 103, 0.387);
    width: 8.65rem;
  }

  #yourEmail {
    width: 8.6rem;
    border: 1px solid rgba(103, 103, 103, 0.387);
  }

  #bigInput {
    display: inline-block;
    width: 35rem;
    height: 3rem;
    border: 1px solid rgba(103, 103, 103, 0.387);
    margin-bottom: 2rem;
  }

  .formLabels {
    display: block;
    color: #7d7c84;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
  }

  #inlineInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #firstInput {
    grid-area: 1 / 1 / 2 / 2;
  }

  #secondtInput {
    grid-area: 1 / 2 / 2 / 3;
  }

  #messageLabel {
    translate: -16.5rem;
  }

  #submitStartCollaboration {
    width: 15%;
    font-size: 1rem;
    outline: 1px solid rgba(205, 204, 204, 0.387);
    margin-bottom: 4.5rem;
  }

  #idfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #socialMediaList {
    width: 20%;
    padding-right: 2rem;
  }

  #footerContent {
    margin-left: 2rem;
    padding-bottom: 2rem;
  }

  #GMRB {
    display: none;
  }

  #GMCVB {
    display: inline-block;
    padding-right: 1rem;
  }

  #unionIcon {
    display: none;
  }

  #downloadIcon {
    display: none;
  }

  #downloadLightblue {
    display: inline-block;
  }

  h1 {
    margin-top: 8rem;
  }

  #project1DarkBLuebox {
    padding-top: 13rem;
  }

  #projectTitle1DarkBlueBox {
    font-size: 4rem;
    font-weight: 900;
    padding-left: 2rem;
  }

  .codingLangBackgroundDarkBlue {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  #CodingLangButtonsDarkBlue {
    display: block;
    margin: 2rem;
    margin-bottom: 2rem;
  }

  #stpDarkBlue {
    width: 18rem;
    display: inline-block;
    margin-top: 3rem;
  }

  #stpDarkBlue6 {/*
    translate: -22rem -0.5rem; */

    width: 18rem;/*
    display: inline-block; */
    margin-top: 0.5rem;
    margin-right: 12rem;
  }

  #project6DarkBLuebox {
    background-image: url(./img/pic62.png);
  }

  #projectTitle16DarkBlueBox {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 700;
  }

  #cdl6 {
    display: flex;
    flex-direction: row;
    height: 2rem;
  }

  .codingLangBackgroundDarkBlue6 {
    font-size: 0.8rem;
    width: 5.5rem;
  }

  #codingLangBackgroundDarkBluesp {
    font-size: 0.8rem;
    width: -1rem;
  }

  .popPicturesPreview {
    max-width: 75%;
    width: 950px;
  }

  .lists {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    justify-content: left;
    padding-left: 5rem;
  }

  .popProjectTitle {
    margin-left: 5rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    color: #1a2236;
    font-weight: 900;
  }

  #crossTypo2 {
    text-align: end;
    padding-right: 1rem;
    font-weight: 200;
    cursor: pointer;
  }
}

.inlineBlockButton {
  display: block;
}

@media screen and (min-width: 768px) {
  .inlineBlockButton {
    display: flex;
    gap: 15px;
  }

  .popButText {
    font-family: "Poppins", sans-serif;
    color: #1a2236;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    text-align: center;
    translate: -2rem -1rem;
    cursor: pointer;
  }

  .popupButtons {
    width: 8rem;
    outline: 2px solid #1a2236;
    margin-bottom: 2rem;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .popupButtons:hover {
    outline: 2px solid #efefef;
    background-color: #1a2236;
  }

  .popupButtons:active {
    outline: 2px solid #efefef;
    background-color: #1a2236;
  }

  .popButText:hover {
    color: white;
  }

  .popboxTitle {
    position: relative;
  }

  .prevNext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3rem;
  }

  .prevNextButtons {
    border: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    color: #1a2236;
    margin-top: 3rem;
    width: 100%;
  }

  .arrows {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#crossTypo {
  text-align: end;
  padding: 2rem;
  font-weight: 200;
  cursor: pointer;
}

.imgBTN {
  margin-left: 1rem;
}

.popupContainer2 {
  height: 100vh;
  display: none;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  background-color: rgba(26, 34, 54, 0.98);
}

.popupContainer {
  width: 100vw;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
  overflow: scroll;
}

.superPopUpCont {
  margin: 2rem;
  background-color: #efefef;
  overflow: scroll;
}

.popup {
  display: flex;
}

.popProjectTitle {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #1a2236;
  font-weight: 1000;
}

.popCodingLangButtons {
  padding: 0 2rem;
}

.popupLang {
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  color: #1a2236;
  outline: 1px solid #1a2236;
  font-size: 0.7rem;
}

.popPicture {
  display: flex;
  flex-direction: row;
  z-index: 3;
  max-width: 100vw;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.popPicturesPreview {
  width: 90vw;
}

#popupPdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupP {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #1a2236;
  max-width: 40rem;
}

.popupButtons {
  outline: 2px solid #1a2236;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 12px;
  width: 15rem;
}

.popupSTP {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.popButText {
  font-family: "Poppins", sans-serif;
  color: #1a2236;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  text-align: center;
  translate: -2rem -1rem;
  cursor: pointer;
}

.STP-buttons {
  display: flex;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #1a2236;
  border: solid white 2px;
  width: 70%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 1.3rem;
  background-image: url(/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 14.3rem;
  margin: 1rem 2rem 0 1.6rem;
  padding-right: 2rem;
}

.STP-buttons:hover {
  background-color: aliceblue;
  color: #1a2236;
}

.STP-buttons:active {
  background-color: aliceblue;
  color: #1a2236;
  outline: solid black 2px;
}

.multiPictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.multiPictures25 {
  width: 18.5%;
}
