/* GLOBALS */
* {
  margin: 0%;
  padding: 0%;
}

html {
  background-image: url(/img/shapes.svg);
  background-repeat: no-repeat;
  background-size: 8.5rem;
}

/* HEADER */

#menu {
  padding: 1.25rem;
}

#navBar {
  width: 100%;
  position: fixed;
}

#nav {
  padding: 1.3rem;
}

#logo {
  padding: 1.75rem;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  font-size: x-large;
  color: #1a2236;
}

#menubar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MENU */

/* MAIN */
#mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
/*   height: 90vh; */
 /*  padding: 1rem; */
  /*  flex-wrap: wrap; */
}

#name {
  /*   display: flex; */
  text-align: left;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4rem;
  padding-top: 1rem;
  color: #1a2236;
}

p {
  color: #1a2236;
  text-align: left;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

#introduction {
  max-width: 22rem;
  min-width: 12rem;
}

/* BUTTON */

.buttons {
  display: flex;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background-color: #1a2236;
  width: 90%;
  height: 3.7rem;
  align-items: center;
  justify-content: center;
  max-width: 22rem;
  min-width: 12rem;
}

.submit-button {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
  padding: 6rem;
  font-size: rem;
  font-weight: 700;
  font
}

.submit-button:visited {
  text-decoration: none;
  color: white;
}

/* HOVER */

.buttons:hover {
  display: flex;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background-color: #079c95;
  width: 80%;
  height: 3.7rem;
  align-items: center;
  justify-content: center;
  max-width: 22rem;
  min-width: 12rem;
  transition: ease-in-out 600ms;
}

/* #main {
  background-color: rgb(36, 36, 36);
  padding: 1rem;
  border-radius: 16px;
  border: 2px solid black;
  color: beige;
  transition: all 500ms ease-in-out;
  user-select: none;
  cursor: pointer;
  box-shadow: 9px 8px 22px -4px rgba(0, 0, 0, 0.87);
} */

/* .submit-button:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(180, 10, 166);
  box-shadow: 9px 8px 22px -4px rgba(179, 176, 176, 0.87);
}
  */

#geometryDiv {
  padding-top: 3.5rem;
  width: 100vw;
}

#projectsTitle {
 
}

h2 {
  text-align: left;
  justify-content: left;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4.4rem;
  padding-top: 1rem;
  padding-right: 7.5rem;
  padding-bottom: 2rem;
  color: #1a2236;
}

h3 {
  max-width: 22rem;
  min-width: 12rem;
  text-align: left;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4rem;
  padding-top: 1rem;
  color: #1a2236;
}



about {
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 4.4rem;
  padding-top: 3.7rem;
  padding-right: 13rem;
  color: #1a2236;
}

#aboutP {
  color: #1a2236;
  text-align: left;
  /* padding: 2rem; */
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  max-width: 25rem;
}

.boxContainer {
  background-color: #1a2236;
  width: 27rem;
}

.boxTitle {
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1em;
}

.codingLangButtons {
  display: flex;
  /* justify-content: space-around; */
  justify-content: left;
  padding-left: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.codingLangBackground {
  background-color: #91d4d4;
  padding: 0.2rem;
  padding-left: .9rem;
  padding-right: .9rem;
  outline: 1rem;
  margin-right: 1rem;
  font-size: .9rem;
font-weight: 400;
}

.stpButton {
  padding: 1.6rem;
  width: 15rem;
}

#blueBox {
  background-color: #1c528a;
  width: 24rem;
  height: 25rem;
}

#redBox {
  background-color: #e2505c;
    width: 24rem;
  height: 25rem;
}

#yellowBox {
  background-color: #febf52;
   width: 24rem;
  height: 25rem;
}

.colorBoxTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: white;
  font-weight: 1000;
  padding-left: 5rem;
  padding-top: 4rem;
}

.itemsList {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding-left: 3rem;
}

.images {
    width: 38%;
  padding-left: 13rem;
  padding-top: 2.5rem;
}

.imagesYellow {
  width: 38%;
  padding-left: 14.7rem;
  padding-top: 1rem;
  
}

#lampYellow {/* 
padding-bottom: 2rem; */
}

#myCV {
  display: flex;
  align-items: center;
}

#gridCont {
  display: grid;
}

.picturesPreview {
  width: 100%;
}

#getMyCv {
  padding-right: 3rem;
}

#hashtagIcon {
  padding-left: 14.8rem;
  width: 38%;
  padding-top: 2.8rem;
}

#cardBoxes {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}